<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blog</a>
    </div>

    <ul class="nav navbar-nav">
      <li><%= link_to 'Atricles', atricles_path %></li>
      <li><%= link_to 'Photos', photos_path %></li>
      <li>
        <a class="notice"><%= notice %></a>
        <a class="alert"><%= alert %></a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      </li>
    </ul>

  </div>
</nav>